Source: rex-io-server
Section: admin
Priority: optional
Maintainer: Jan Gehring <jan.gehring@gmail.com>
Build-Depends: debhelper (>= 7),
                  libmojolicious-perl (>= 3.9)
                  libmojolicious-plugin-authentication-perl (>= 1.24)
                  libdbix-class-tree-adjacencylist,
                  libmojo-redis-perl,
                  libdigest-bcrypt-perl,
                  perl (>= 5.10.1),
                  libjson-xs-perl,
                  libxml-simple-perl,
                  libwww-perl,
                  libdbix-class,
                  libnet-dns-perl,
                  libdbi-perl
Standards-Version: 3.9.1
Homepage: http://rexify.org/

Package: rex
Architecture: all
Depends: ${misc:Depends},
            ${perl:Depends},
            libnet-ssh2-perl (>= 0.33),
            libwww-perl,
            libxml-simple-perl,
            libdigest-hmac-perl,
            libexpect-perl,
            libjson-xs-perl,
            libyaml-perl,
            libdbi-perl
Description: Remote Execution
 (R)?ex is a small script to ease the execution of remote commands. You can
 write small tasks in a file named Rexfile.
 .
 You can find examples and howtos on http://rexify.org/.
