Source: rex-io-server
Section: admin
Priority: optional
Maintainer: Jan Gehring <jan.gehring@gmail.com>
Build-Depends: debhelper (>= 7),
                  libmojolicious-perl (>= 3.90),
                  libmojolicious-plugin-authentication-perl (>= 1.24),
                  libdbix-class-tree-perl,
                  libmojo-redis-perl,
                  libdigest-bcrypt-perl,
                  perl (>= 5.10.1),
                  libjson-xs-perl,
                  libxml-simple-perl,
                  libwww-perl,
                  libdbix-class-perl,
                  libnet-dns-perl,
                  libdbi-perl
Standards-Version: 3.9.1
Homepage: http://rexify.org/

Package: rex-io-server
Architecture: all
Depends: ${misc:Depends},
            ${perl:Depends},
            libmojolicious-perl,
            libmojolicious-plugin-authentication-perl,
            libmojo-redis-perl,
            libdigest-bcrypt-perl,
            libdbix-class-tree-perl,
            libdbix-class-perl,
            libnet-dns-perl,
            libnet-ssh2-perl (>= 0.33),
            libwww-perl,
            libxml-simple-perl,
            libdigest-hmac-perl,
            libexpect-perl,
            libjson-xs-perl,
            libyaml-perl,
            libdbi-perl,
            redis-server
Description: Rex.IO - Bare Metal Deploy
 Middleware Component of Rex.IO Bare Metal Deployer.
